
Euclidean Algorithm/bin/Debug/netcoreapp3.1/Euclidean Algorithm.exe
*.dll
.vs/Euclidean Algorithm/v17/.suo
*.vsidx
*.exe
Euclidean Algorithm/obj/Debug/netcoreapp3.1/_IsIncrementalBuild
.vs/Math Operations/v17/.suo
*.v2
*.lock
.vs/Math Operations/v17/.suo
